@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@layer base {
  :root {
    --color-base: theme('colors.white'); 
    --color-text-base: theme('colors.black'); 
    --color-off-base: theme('colors.gray.50'); 
    --color-text-muted: theme('colors.gray.600');
    --color-text-muted-hover: theme('colors.gray.500'); 
    --color-primary: theme('colors.blue.800'); 
    --color-secondary:theme('colors.blue.200');
  }

  .theme-light {
    --color-base: theme('colors.white'); 
    --color-text-base: theme('colors.black'); 
    --color-off-base: theme('colors.gray.50');
    --color-text-muted: theme('colors.gray.600');
    --color-text-muted-hover: theme('colors.gray.500'); 
    --color-primary: theme('colors.blue.600'); 
    --color-secondary:theme('colors.blue.300'); 
  }
  .theme-dark {
    --color-base: theme('colors.gray.900');
    --color-text-base: theme('colors.gray.100'); 
    --color-off-base: theme('colors.gray.800'); 
    --color-text-muted:theme('colors.gray.300'); 
    --color-text-muted-hover: theme('colors.gray.200');
    --color-primary: theme('colors.blue.500'); 
    --color-secondary: theme('colors.blue.200'); 
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded;
  }
  .border {
    @apply border-solid border-current;
  }
}

@layer utilities {
  .center{
    @apply flex justify-center items-center;
  }
}


:root {
  /* --c-bg: #f3f7fa; */
  --c-bg: #f3f7fa;;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  /* transition: all .25s; */
}

body {
  background-color: var(--c-bg);
}
html {
  /* overflow: scroll; */
}


/* scrollbar */
/* ::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
} */
/* ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
} */
/* ::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
} */
